body {
  box-sizing: border-box;
  margin: 0;
}

h1{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

.status {
  width: 100%;
  display: flex;
  justify-content: center;
}

.square {
  width: 80px;
  height: 80px;
  margin: 1px;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 6px;
  transition: none;
}
.square-matched {
  border-color: rgba(1, 75, 247, 0.3) !important;
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(1, 75, 247, 0.3);
  animation: pulse 1s ease-in-out infinite;
}

.square:not(.square-matched):hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

@keyframes pulse {
  0% {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(37, 88, 207, 0.3);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(22, 84, 229, 0.3);
  }
  100% {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(37, 97, 239, 0.3);
  }
}

.app {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board-row {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: row;
}

