body {
  box-sizing: border-box;
  margin: 0;
}

h1{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

.status {
  width: 100%;
  display: flex;
  justify-content: center;
}

.square {
  width: 80px;
  height: 80px;
  margin: 1px;
  font-size: 2rem;
  font-weight: bold;
  transition: none;
}

.app {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board-row {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 0;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: row;
}

